In [ ]:
#syntax
print("hello world")

hello world

In [ ]:
#comments
#------#

In [ ]:
#indentation are called spaces
if(4>2):
  print("four is greater than two")

four is greater than two

In [ ]:
#variables
x=2
y=3
print(x)
print(y)

2
3

In [ ]:
#find type
x=6
y="dog"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#casting
x=int(5)
y=str(5)
z=float(4)
print(x)
print(y)
print(z)

5
5
4.0

In [ ]:
#string
#str
x="fox"
print(x)

fox

In [ ]:
#variables(A-Z,0-9,_ IS USED)
#starts with alphabet end with number
my_var=5
myvar=6
myvar8=9
_myvar=5
print(myvar)

6

In [ ]:
#camelcase
#Each word, except the first, starts with a capital letter:
myVariableValue=8
print(myVariableValue)

8

In [ ]:
#Pascal Case
#Each word starts with a capital letter:
MyVariableValue=2
print(MyVariableValue)

2

In [ ]:
#Snake Case
#Each word is separated by an underscore character:
my_variable_value=10
print(my_variable_value)

10

In [ ]:
#multiple values
x,y,z=2,3,4
print(x)
print(y)
print(z)
x=y=z="banana"
print(x)
print(y)
print(z)

2
3
4
banana
banana
banana

In [ ]:
#unpack collection
fruits=["apple","banana","guava"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
guava

In [ ]:
#python datatypes
#numeric type=int,float,complex
x=7
y=4.9
z=8j
print(x)
print(y)
print(z)

7
4.9
8j

In [ ]:
#int
x=55555
y=-5563442
print(x)
print(y)

55555
-5563442

In [ ]:
#float
x=1.0
y=1.10
z=-34.99
print(x)
print(y)
print(z)

1.0
1.1
-34.99

In [ ]:
#complex
x=4j
y=5+9j
z=3j+4
print(type(x))

<class 'complex'>

In [ ]:
#strings are arrays
a = "hello world!"
print(a[3])
print(len(a))

l
12

In [ ]:
#check string we use in keyword
text="i am a girl"
print("girl" in text)
print("boy" not in text)

True
True

In [ ]:
#slicing string
#start index to end index
x="hello,world"
print(x[3:6])
print(x[:8])#from start
print(x[2:])#to end

lo,
hello,wo
llo,world

In [ ]:
#modify string
#upper case
x="boy"
print(x.upper())
print(x.lower())

BOY
boy

In [ ]:
#strip string  removes white space
x="   no"
print(x.strip())

no

In [ ]:
#replace string
x="good"
print(x.replace("g","f"))

food

In [ ]:
#split string
x="hello world"
print(x.split("w"))

['hello ', 'orld']

In [ ]:
#string concatination
x="dfg"
y="yoy"
print(x+y)
#to add space
print(x+" "+y)

dfgyoy
dfg yoy

In [ ]:
#formate string
#f stands for formate
#in this we use both str and int so we use "f" str
x=44
txt=f"my age is {x}"
print(txt)

my age is 44

In [ ]:
#A placeholder can contain variables, operations, functions, and modifiers to format the value.
price=44
txt=f"the price of banana is {price}"
print(txt)

the price of banana is 44

In [ ]:
#A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:
price=55
txt=f"the price of vegetable is {price:2f} rupee"
print(txt)

the price of vegetable is 55.000000 rupee

In [ ]:
#escape character
#An escape character is a backslash \ followed by the character you want to insert.
x="my name is \"khan\" and your good friend"
print(x)

my name is "khan" and your good friend

In [ ]:
#String Methods
#python has a set of built-in methods that you can use on strings.
# All string methods return new values. They do not change the original string.

In [ ]:
#boolean tor f